.main-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #0084ff;
}

.form-header {
  font-size: 30px;
}

.form-group,
form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
}

input,
select {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.submit-button {
  background-color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

#description {
  width: 400px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  background-color: white;
  border-radius: 20px;
}
