@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

/* Header */

h1 {
  font-size: 30px;
  font-weight: bold;
}

.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.header > nav > a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

/* Main */

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-image: url("../../public/ladning.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgb(240, 230, 220);
}

.main-create-post {
  flex: 1;
}

/* Posts container */

.post-content {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.posts-subtitle {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.post-template {
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

option {
  color: rgb(0, 0, 0);
  background-color: rgb(155, 144, 144);
}

.post-template:hover {
  background-color: rgb(1, 100, 192);
}

option:hover {
  background-color: rgb(0, 132, 255);
  border-radius: 20px;
}

a:hover {
  background-color: rgb(1, 100, 192);
  border-radius: 20px;
}

.like-delete-container,
.like-delete-container > button,
.like-delete-container > p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.like-delete-btn {
  font-size: 40px;
  cursor: pointer;
}

.likecount {
  font-size: 20px;
  font-weight: bold;
}

.body-class {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1;
  margin: 20px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.filters-title {
  margin: 20px;
  font-size: 30px;
}

#filter-select {
  height: 90%;
}

.filter-tag {
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
}

.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.like-delete-btn {
  margin: 5px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.like-count {
  margin: 5px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
