@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.534);
}

/* Header */

h1 {
  font-size: 30px;
  font-weight: bold;
}

.header {
  display: flex;
  background-color: rgb(0, 132, 255);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header > nav > a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

/* Main */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgb(240, 230, 220);
}

.main-create-post {
  flex: 1;
}

/* Posts container */

.post-content {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.posts-subtitle {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.post-template {
  background-color: rgb(0, 132, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.post-template:hover {
  background-color: rgb(1, 100, 192);
}

option:hover {
  background-color: rgb(0, 132, 255);
}

a:hover {
  background-color: rgb(1, 100, 192);
}

.like-delete-container,
.like-delete-container > button,
.like-delete-container > p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.like-delete-btn {
  font-size: 40px;
  cursor: pointer;
}

.likecount {
  font-size: 20px;
  font-weight: bold;
}

.body-class {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1;
  margin: 20px;
}

.filters-title {
  margin: 20px;
  font-size: 30px;
}

#filter-select {
  height: 90%;
}

#filter-select::-webkit-scrollbar {
  display: none;
}

#filter-select > option {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
