.main-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.post-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.main-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

textarea {
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.post-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.specific-post-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.specific-post-content > h1 {
  margin: 15px;
}

.specific-comments-container {
  margin: 15px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px;

  height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.comment {
  margin: 15px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.like-count {
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.specific-add-comment-container {
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.specific-form-group {
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#creator {
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.specific-submit-button {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.specific-submit-button:hover {
  background-color: rgb(1, 100, 192);
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(1, 100, 192);
  cursor: pointer;
}

.like-delete-btn:hover {
  background-color: rgb(1, 100, 192);
  cursor: pointer;
}
